/* .header {
  display: inline-block;
  justify-content: center;
} */
body {
  background-color: black;
}

.form-container {
  display: flex;
  background-color: rgba(40, 40, 109, 0.3);
  align-self: center;
  justify-content: flex-start;
  height: 1000px;
  width: 600px;
  padding: 20px 50px 50px 50px;

  margin-top: 100px;
}

.wrapper {
  display: flex;
  align-self: center;
  justify-content: center;
}

.header {
  justify-content: center;
  align-content: center;
}

.header > h1 {
  color: white;
}
